<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- <link rel="stylesheet" href="../static/style.css"> -->
  <title>STRIP Medicine</title>
</head>

<body>
  <h1>Certification Portal</h1>
  <p id='subTagline'>Medical Registration-Verification Portal</p>
  <!-- Options to login -->
  <div class="Nav">
    <a class='navDecor' href="{{ url_for('Government') }}">Government</a>
    <a class='navDecor' href="{{ url_for('hospital') }}">Hospitals</a>
    <a class='navDecor' href="{{ url_for('public') }}">Verification</a>
  </div>
  {% block content %}{% endblock %}
  <!-- Hospital Information -->


</body>
<script>
  const prices = {
    "false": [{ value: 3, desc: "--None--" }],
    "true": [{ value: 3, desc: "Sputnik V" }, { value: 5, desc: "Sputnik Lite" }]
  }

  const price = document.querySelector('[name=price]');
  document.querySelector('[name=VaccineRespose]').addEventListener('change', function (e) {
    price.innerHTML = prices[this.value].reduce((acc, elem) => `${acc}<option value="${elem.value}">${elem.desc}</option>`, "");
  });
</script>

</html>