{% extends "base.html" %}
{% block content %}
<div id="HospitalInput">
    <form method = "POST" action="/Government" id='HosInput'>

      <div class="fromRows">
        <div class="formField">
          <!-- Hospital Name: -->
          <input type="text" name="Hname" value="" placeholder = 'Name' required>
        </div>
      </div>

      <div class="fromRows">
        <div class="formField">
          <!-- Hospital Address: -->
          <input type="text" name="Haddr" value="" placeholder = 'Wallet Address' required>
        </div>
      </div>
      <div class="fromRows">
        <div class="formField">
          Vacciner:
          <select name="VaccineRespose" id="VaccineRespose" required>
            <option value="False">False</option>
            <option value="True">True</option>
          </select>
        </div>
      </div>

      <div class="fromRows">
        <div class="formField">
          Vaccine Name:
          <select name="price">
            <option value="None">None</option>
          </select>
        </div>
      </div>

      <div class="fromRows">
        <div class="formField">
          <!-- Ministry Address: -->
          <input type="text" name="Mname" value="" placeholder = 'Ministry Address' required>
        </div>
      </div>

      <div class="fromRows">
        <div class="formField">
          <!-- Ministry Pvt Key: -->
          <input type="password" name="Mkey" value="" placeholder="Ministry Pvt Key">
        </div>
      </div>
      <br>
      <div class="input-group">
            <input type="submit" id='PillBtn' value="Register Hospital"/>
        </div>
    </form>


  </div>
{% endblock %}
