{% extends "base.html" %}
{% block content %}
<div id="HospitalInput">

    <form method = "POST" action="/Hospital" id='HosInput'>

      <!-- <div class="fromRows">
        <div class="formField">
          Vaccine Number:
          <input type="text" name="Vnumber" value="">
        </div>
      </div> -->

      <!-- <div class="fromRows">
        <div class="formField">
          Name:
          <input type="text" name="Hname" value="">
        </div>
      </div> -->

      <div class="fromRows">
        <div class="formField">
          Hospital Address:
          <input type="text" name="Haddr" value="" required>
        </div>
      </div>

      <!-- <div class="fromRows">
        <div class="formField">
          Hospital Pvt Key:
          <input type="password" name="HpvtK" value="">
        </div>
      </div> -->
      <br>
      <input type="submit" id='PillBtn' value="Vaccinate"/>
    </form>
    <p>Note that on clicking vaccine Person, A full vaccination will be considered and QR Report certificate will be created, all information about the hospital will be taken from the blockchain, and the vaccination transaction will automatically timestamped</p>

    Certificate Number: {{name}}

  </div>


{% endblock %}
